@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: var(--font-family);
}

:root {
  --font-family: "Noto Sans TC", sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: 1.25;
  font-weight: 500;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 3.75rem;
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 1.25;
  font-weight: 500;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 500;
}
@media (min-width: 1024px) {
  h3 {
    font-size: 2.5rem;
  }
}

h4 {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 500;
}
@media (min-width: 1024px) {
  h4 {
    font-size: 2rem;
  }
}

h5 {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 500;
}
@media (min-width: 1024px) {
  h5 {
    font-size: 1.5rem;
  }
}

h6 {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 500;
}
@media (min-width: 1024px) {
  h6 {
    font-size: 1.25rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

a, a:visited, a:active {
  text-decoration: none;
  color: var(--text-color);
}

:root {
  --text-color: #231B33;
}

body {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  background: url("../img/背景.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-width: 1280px;
  margin: 0 auto;
}
body header {
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: #ffffff;
}
body header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0.5rem 1rem;
}
@media (min-width: 1024px) {
  body header .navbar {
    margin: 1rem 6rem;
  }
}
body header .navbar__logo {
  max-height: 3rem;
}
body header .navbar .btn_mobile {
  margin: 0.5rem;
  padding: 0.5rem;
  display: block;
  font-size: 24px;
}
@media (min-width: 1024px) {
  body header .navbar .btn_mobile {
    display: none;
  }
}
body header .navbar__items {
  display: none;
}
@media (min-width: 1024px) {
  body header .navbar__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 0.75rem;
  }
  body header .navbar__items__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0.5rem;
    gap: 0.5rem;
  }
  body header .navbar__items__item__icon {
    padding: 0.5rem;
    font-size: 24px;
  }
}

.hero {
  background: url("../img/背景光點.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  width: 100%;
}
@media (min-width: 1024px) {
  .hero {
    height: 150vh;
  }
}
.hero__container {
  background: url("../img/禮物.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.hero__container__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1024px) {
  .hero__container__wrapper {
    flex-direction: row;
  }
}
.hero__container__wrapper__left {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .hero__container__wrapper__left {
    width: 50%;
  }
}
.hero__container__wrapper__left .title_img {
  max-width: 80%;
}
.hero__container__wrapper__right {
  width: 100%;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .hero__container__wrapper__right {
    width: 50%;
    height: 100vh;
  }
}
.hero__container__wrapper__right .bestseller_svg {
  display: none;
}
@media (min-width: 1024px) {
  .hero__container__wrapper__right .bestseller_svg {
    display: block;
  }
}
.hero__container__wrapper__right .bestseller_imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .hero__container__wrapper__right .bestseller_imgs {
    display: none;
  }
}
.hero__container__wrapper__right .bestseller_imgs .bestseller_img {
  max-width: 80%;
}
.hero__container .coupons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 3rem 0;
}
@media (min-width: 1024px) {
  .hero__container .coupons {
    flex-direction: row;
    height: 20vh;
  }
}
.hero__container .coupons img {
  max-width: 80%;
  margin: 1rem;
}

.best-seller {
  width: 100%;
  height: 100vh;
}
.best-seller .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .best-seller .card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
.best-seller .card-wrapper .card {
  box-shadow: 7px 7px 10px rgba(91, 31, 31, 0.5);
  max-width: 300px;
}
.best-seller .card-wrapper .card:hover {
  cursor: pointer;
}
.best-seller .card-wrapper .card img {
  max-width: 300px;
}
.best-seller .card-wrapper .card .card__img {
  position: relative;
}
.best-seller .card-wrapper .card .card__img .gift {
  position: absolute;
  filter: drop-shadow(7px 7px 10px rgba(91, 31, 31, 0.5));
  transform: translate(-15%, -30%);
}
.best-seller .card-wrapper .card__body {
  background: #ffffff;
  padding: 0.5rem;
}
.best-seller .card-wrapper .card__body__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.best-seller .card-wrapper .card__body__price .btn_addtocart {
  padding: 0.5rem;
}/*# sourceMappingURL=main.css.map */