@forward 'global';

@mixin flexCenter($justify:center, $align_items:center, $direction:row){
    display: flex;
    justify-content: $justify;
    align-items: $align_items;
    flex-direction: $direction;
}

@keyframes breathe {
    0%, 100%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.4);
    }
}

body{
    @include flexCenter($justify:start, $direction:column);
    position: relative;
    overflow-x: hidden;
    background: url('../img/背景.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
    max-width: 1920px;
    margin: 0 auto;

    header{
        width: 100%;
        position: fixed;
        z-index: 99;
        background-color: #ffffff;
        
    
        .navbar{
            @include flexCenter(space-between);
    
            margin: 0.5rem 1rem;
    
            @media (min-width: 1024px) {
                margin: 1rem 6rem;            
            }

            &__logo{
                max-height: 3rem;
            }
    
            .btn_mobile{
                margin: 0.5rem;
                padding: 0.5rem;
                display: block;
                font-size: 24px;
    
                @media (min-width: 1024px) {
                    display: none;                
                }
            }
            
            &__items{
                display: none;
    
                @media (min-width: 1024px) {
                    @include flexCenter;

                    list-style: none;
                    gap: 0.75rem;
        
                    &__item{
                        @include flexCenter;
                        margin: 0.5rem;
                        gap: 0.5rem;
        
                        &__icon{
                            padding: 0.5rem;
                            font-size: 24px;
                        }
                    }
                    
                }
            }
        }
    }
    
}

.hero{
    background: url('../img/背景光點.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;

    @media (min-width: 1024px) {
        height: 150vh;
    }

    &__container{
        background: url('../img/禮物.png');
        background-repeat: no-repeat;
        background-size: cover;   
        background-position: center;
        height: 100%;
        width: 100%;  
        
        &__wrapper{
            @include flexCenter($direction: column);
            width: 100%;
    
            @media (min-width: 1024px) {
                flex-direction: row;
            }
    
    
            &__left{
                width: 100%;
                height: 55vh;
                display: flex;
                justify-content: center;
                align-items: center;
    
                @media (min-width: 1024px) {
                    width: 50%;
                    height: 100vh;
                }
    
                .title_img{
                    max-width: 100%;
    
                    @media (min-width: 1024px){
                        
                    }
                }
    
            }
    
            &__right{
                width: 100%;
                height: 25vh;
                @include flexCenter($direction: column);
    
                @media (min-width: 1024px) {
                    width: 50%;
                    height: 100vh;  
                }
                
                #bestseller_svg *{
                    transform-box: fill-box;
                }
                .bestseller_svg{
                    display: none;
    
                    @media (min-width: 1024px){
                        display: block;
                    }
                }
                
            }
        }

        .swiper {
            width: 100%;
            
            
            @media (min-width: 1024px){
                display: none;
            }

            .swiper-slide{
                @include flexCenter;
            }

            img{
                width: 80%;
            }
        }
    
        .coupons{
            @include flexCenter;
    
            img{  
                margin: 1rem;

                @media (min-width: 1024px) {
                    max-width: 50%;                
                }
            }
        }

    }


}









